RewriteEngine On


RewriteEngine on
RewriteRule ^$ beranda.php [L]

#mencegah Directory Listing
#utamakan buat index.php yg direct ke hal 404 
#Options -Indexes sebagai backup saja takut ada yang kelupaan
Options -Indexes

#Hilangkan extensi .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

#Direct hal notfond ke 404
#ErrorDocument 404 http://localhost/zlaundry/404.php   
